<template>
  <div class="app">
    <setup v-if="isInSetup" />
    <game v-if="isInGame" />
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import Setup from './components/Setup';
  import Game from './components/Game';

  import { APP, GAME, SERVER } from 'types/machineStates.type';

  import { SET_MACHINE_STATE } from 'types/mutations.type';

  import {
    JOINED_GAME,
  } from 'types/socketMessages.type';

  export default {
    components: {
      Setup,
      Game,
    },
    computed: {
      isInSetup() {
        return this.machineState.APP === APP.SETUP;
      },
      isInGame() {
        return this.machineState.APP === APP.GAME;
      },
      ...mapGetters([
        'machineState'
      ]),
    },
    sockets: {
      [JOINED_GAME] ({ serverMachineState }) {
        let gameMachineState = GAME.WAITING_FOR_ROUND_START;
        if (serverMachineState === SERVER.WAITING_FOR_ENOUGH_PLAYERS) {
          gameMachineState = GAME[serverMachineState];
        }
        this.$store.commit(
          SET_MACHINE_STATE, { targetMachine: 'APP', value: APP.GAME }
        );
        this.$store.commit(
          SET_MACHINE_STATE, { targetMachine: 'GAME', value: gameMachineState }
        );
      },
    },
  };
</script>

<style lang="stylus">
  html
    font-size: 0.25vmin
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    overflow: hidden
    font-weight: 800
    font-family: helvetica
  p
    font-size: 28rem

  h2
    font-size: 20rem

  .app
    overflow: hidden
</style>
