<template lang="html">
  <div class="card card--black">
    <p @click="answerClicked" v-html="cardTemplate"></p>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import {
    GAMEBOARD,
  } from 'types/machineStates.type';

  import {
    SELECTED_ANSWER_CLICKED,
  } from 'types/actions.type';


  export default {
    data() {
      return {
        cardTemplate: '',
      };
    },
    props: {
      card: Object,
    },
    computed: {
      answersToShowInCard() {
        return this.machineState.GAMEBOARD === GAMEBOARD.SHOWING_ANSWERS_FROM_ROUND ?
          this.answersInRound[this.currentAnswerIndex].answers : this.selectedAnswers;
      },
      answerSpotsInCard() {
        return (this.card.text.match(/_/g) || []).length;
      },
      answersNeeded() {
        return this.card.numberOfAnswers;
      },
      ...mapGetters([
        'selectedAnswers',
        'machineState',
        'answersInRound',
        'currentAnswerIndex',
      ])
    },
    methods: {
      answerClicked({ target }) {
        this.$store.dispatch(SELECTED_ANSWER_CLICKED, { id: parseInt(target.id, 10) });
      },
      populateAnswer(answer) {
        return answer ? `<span class="answer" id=${answer.id}>${answer.text}</span>` : '_';
      },
      parseCardTemplate({ answerSpotsInCard, card }) {
        const { numberOfAnswers } = card;
        let template;

        if (answerSpotsInCard === 0) {
          template = `${card.text}`;
          for(let i = 0; i < numberOfAnswers; i++) {
            template += `${this.populateAnswer(this.answersToShowInCard[i])}`
          }
          return template;
        }

        let answerIndex = 0;

        template =
          card.text.split(' ')
            .map(string => {
              if (string === '_' || string === '_.') {
                const populatedAnswer = this.populateAnswer(this.answersToShowInCard[answerIndex]);
                answerIndex++;
                return populatedAnswer;
              }
              return string;
            })
            .join(' ');
        answerIndex = 0;

        return template;
      },
      updateTemplate() {
        const {
          answerSpotsInCard,
          card,
          answersToShowInCard,
          parseCardTemplate,
        } = this;
        this.cardTemplate =
          parseCardTemplate({ answerSpotsInCard, card, answersToShowInCard });
      },
    },
    watch: {
      currentAnswerIndex() {
        this.updateTemplate();
      },
      selectedAnswers() {
        this.updateTemplate();
      },
    },
    mounted() {
      this.updateTemplate();
    },
  }
</script>

<style lang="stylus">
  .answer
    font-family: 'Indie Flower'
    text-decoration: underline
    font-weight: 500
    cursor: pointer

</style>
