<template>
  <div
    class="card"
    @click="onClick">
    <p v-html="card.text"></p>
  </div>
</template>

<script>
  import {
    CARD_CLICKED,
  } from 'types/actions.type';

  export default {
    props: {
      card: Object,
    },
    methods: {
      onClick() {
        this.$store.dispatch(CARD_CLICKED, { card: this.card });
      },
    },
  }
</script>

<style lang="stylus">
  .card
    background-color: white
    cursor: pointer
    border: 2px solid black
    border-radius: 10px
    width: 95vw
    height: 95vh
    flex-grow: 0
    flex-shrink: 0
    margin-right: 10px
    padding-top: 50px

    &--black
      color: white
      background-color: black
      cursor: default
      border-color: white

    p
      padding: 0 20px
</style>
