<template>
  <div class="card-list">
    <div class="title">
      {{ title }}
    </div>
    <div class="cards">
      <card
        v-for="(card, index) in cards"
        :key="index"
        :card="card" />
    </div>
  </div>
</template>

<script>
import Card from './Card.vue';
  export default {
    components: {
      Card,
    },
    props: {
      title: String,
      cards: Array,
    },
  }
</script>

<style scoped lang="stylus">
.card-list
  .cards
    display: flex
    flex-direction: row

  .title
    display: inline-block
    position: fixed
    left: 25px
    margin-top: -41px
    border: 2px solid black
    background-color: white
    padding: 5px
    border-bottom: none
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    font-size: 30rem
</style>
