<template>
  <div>
    <gameboard />
    <hand v-if="isHandVisible"/>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import Card from './Card';
  import Hand from './Hand';
  import Gameboard from './Gameboard';

  import {
    GAME,
    GAMEBOARD,
  } from 'types/machineStates.type';

  import {
    SET_MACHINE_STATE,
    SET_BLACK_CARD,
    SET_ANSWERS_IN_ROUND,
    SET_WINNER_OF_ROUND,
    SET_SELECTED_ANSWERS,
    SET_CURRENT_ANSWER_INDEX,
  } from 'types/mutations.type'

  import {
    START_ROUND,
    SHOW_ANSWERS_FROM_ROUND,
    SHOW_WINNER,
    END_ROUND,
  } from 'types/socketMessages.type';

  export default {
    components: {
      Card,
      Hand,
      Gameboard,
    },
    computed: {
      isHandVisible() {
        return this.machineState.GAME === GAME.SELECTING_ANSWERS;
      },
      ...mapGetters([
        'machineState',
      ]),
    },
    sockets: {
      [START_ROUND] () {
        this.$store.commit(
          SET_MACHINE_STATE, { targetMachine: 'GAME', value:  GAME.SELECTING_ANSWERS }
        );
      },
      [SHOW_ANSWERS_FROM_ROUND] () {
        this.$store.commit(
          SET_MACHINE_STATE, {
            targetMachine: 'GAME',
            value:  GAME.WAITING_FOR_WINNER_SELECTION,
          }
        );
      },
      [SHOW_WINNER] ()  {
        this.$store.commit(SET_MACHINE_STATE, {
          targetMachine: 'GAMEBOARD',
          value: GAMEBOARD.NOT_READY_TO_GIVE_ANSWERS
        });
        this.$store.commit(
          SET_MACHINE_STATE, { targetMachine: 'GAME', value:  GAME.WAITING_FOR_ROUND_END }
        );
      },
      [END_ROUND] ()  {
        this.$store.commit(SET_ANSWERS_IN_ROUND, []);
        this.$store.commit(SET_BLACK_CARD, {});
        this.$store.commit(SET_WINNER_OF_ROUND, undefined);
        this.$store.commit(SET_CURRENT_ANSWER_INDEX, 0);
        this.$store.commit(SET_SELECTED_ANSWERS, []);
        this.$store.commit(
          SET_MACHINE_STATE, { targetMachine: 'GAME', value:  GAME.WAITING_FOR_ROUND_START }
        );
      },
    },
    mounted() {
      this.$socket.emit('PLAYER_READY');
    },
  };
</script>

<style lang="stylus">
  .question
    overflow: hidden

  .not-started
    padding-bottom: 50px
    overflow: hidden

  .game-info
    position: absolute
    right: 5vw
    top: 30vh
    width: auto
    height: auto
    font-size: 12rem
    color: red

  .fade-enter-active, .fade-leave-active
    transition: opacity .5s

  .fade-enter, .fade-leave-to
    opacity: 0

</style>
