<template>
  <div class="gameboard">
    <div
      class="send-answers"
      v-if="isReadyToGiveAnswers"
      @click="sendAnswers">
      <h2>SEND ANSWERS!!</h2>
    </div>
    <div
      class="select-winner"
      v-if="isSelectingWinner"
      @click="selectWinner">
      <h2>SELECT WINNER!!</h2>
    </div>
    <black-card
      class="question"
      v-if="blackCard"
      :card="blackCard[0]" />
    <card-list
      title="Winner"
      v-if="isShowingWinnerOfRound"
      class="is-on-top"
      :cards="winnerOfRound.cards" />
    <div v-if="isShowingAnswers" class="change-answers-controls">
      <div @click="goLeft" class="change-answers-controls--left">&lt;</div>
      <div @click="goRight" class="change-answers-controls--right">&gt;</div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import {
    HAND
  } from 'types/actions.type'

  import {
    SET_MACHINE_STATE,
    SET_CURRENT_ANSWER_INDEX,
  } from 'types/mutations.type';

  import {
    GAMEBOARD,
    GAME,
  } from 'types/machineStates.type';

  import {
    SEND_ANSWERS,
    SELECT_WINNER,
  } from 'types/socketMessages.type';

  import Card from './Card';
  import BlackCard from './BlackCard';
  import CardList from './CardList';

  export default {
    components: {
      CardList,
      Card,
      BlackCard,
    },
    computed: {
      gameboardState() {
        return this.machineState.GAMEBOARD;
      },
      isReadyToGiveAnswers() {
        return this.gameboardState === GAMEBOARD.READY_TO_GIVE_ANSWERS;
      },
      isShowingAnswers() {
        return this.gameboardState === GAMEBOARD.SHOWING_ANSWERS_FROM_ROUND;
      },
      isSelectingWinner() {
        return this.isShowingAnswers;
      },
      isShowingWinnerOfRound() {
        return false;
      },
      ...mapGetters([
        'blackCard',
        'selectedAnswers',
        'machineState',
        'winnerOfRound',
        'currentAnswerIndex',
        'answersInRound'
      ]),
    },
    methods: {
      selectWinner() {
        const winningCards = this.answersInRound[this.currentAnswerIndex];
        this.$socket.emit(SELECT_WINNER, winningCards);
        this.$store.commit(SET_MACHINE_STATE, {
          targetMachine: 'GAME',
          value: GAME.WAITING_FOR_ROUND_END
        });
      },
      sendAnswers() {
        this.$socket.emit(SEND_ANSWERS, { answers: this.selectedAnswers });
        for (let i = 0; i < this.selectedAnswers.length; i++) {
          const answer = this.selectedAnswers[i];
          this.$store.dispatch(HAND.REMOVE_CARD, answer)
        }
        this.$store.commit(SET_MACHINE_STATE, {
          targetMachine: 'GAMEBOARD',
          value: GAMEBOARD.NOT_READY_TO_GIVE_ANSWERS
        });
        this.$store.commit(SET_MACHINE_STATE, {
          targetMachine: 'GAME',
          value: GAME.WAITING_FOR_ANSWERS
        });
      },
      goLeft() {
        const isFirst = this.currentAnswerIndex === 0;
        const lastIndex = (this.answersInRound.length - 1);
        const nextIndex = isFirst ? lastIndex : this.currentAnswerIndex - 1;
        this.$store.commit(SET_CURRENT_ANSWER_INDEX, { currentAnswerIndex: nextIndex });
      },
      goRight() {
        const lastIndex = (this.answersInRound.length - 1);
        const isLast = this.currentAnswerIndex === lastIndex;
        const nextIndex = isLast ? 0 : this.currentAnswerIndex + 1;
        this.$store.commit(SET_CURRENT_ANSWER_INDEX, { currentAnswerIndex: nextIndex });
      },
    },
  }
</script>


<style lang="stylus" scoped>
  .question
    overflow: hidden

  .send-answers, .select-winner
    z-index: 100
    color: white
    text-align: center
    position: absolute
    top: 0
    left: 45%
    height: 30px

    h2
      cursor: pointer
      border: 2px solid white
      padding 5px
      border-radius: 5px

  .change-answers-controls
    position: absolute;
    z-index: 100
    top: 45vh
    right: 0
    width: 100vw
    color: white
    font-size: 30rem
    display: flex
    flex-direction: row

    &--left
      cursor: pointer
      position: relative
      left: 5vw

    &--right
      cursor: pointer
      position: relative
      left: 85%

</style>
