<template>
  <div :class="{ 'hand': true, 'hand--on-top': true }">
    <card-list
      :cards="cards"
      title="hand" />
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import CardList from './CardList';

  export default {
    components: {
      CardList,
    },
    computed: {
      ...mapGetters([
        'cards',
      ]),
    },
  }
</script>

<style scoped lang="stylus">
.hand
  z-index: 2
  overflow-x: auto

  &--on-top
    margin-top: -40vh

  .cards
    display: flex
    flex-direction: row

  .title
    display: inline-block
    position: fixed
    left: 25px
    margin-top: -41px
    border: 2px solid black
    background-color: white
    padding: 5px
    border-bottom: none
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    font-size: 30rem
</style>
