<template>
  <div>
    <input type="text" placeholder="name" ref="playerName" />
    <button @click="addPlayer">add player</button>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import { PLAYER } from 'types/actions.type';
  export default {
    computed: {
      ...mapGetters([
        'fullHandCardAmount',
      ])
    },
    methods: {
      addPlayer() {
        this.$store.dispatch(PLAYER.SET_NAME, { name: this.$refs.playerName.value });
      }
    }
  }
</script>
